<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>post ejs</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Main</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/post">post</a></li>
            </ul>
        </nav>
        <h1>EJS is awesome template engine POST page</h1>
        <h2><%= title %></h2>
        <p>
            this is good this is good this is good this is good this is good
            this is good this is goodthis is good this is good this is good this
            is good this is good this is good this is goodthis is good this is
            good this is good this is good this is good this is good this is
            goodthis is good this is good this is good this is good this is good
            this is good this is goodthis is good this is good this is good this
            is good this is good this is good this is goodthis is good this is
            good this is good this is good this is good this is good this is
            goodthis is good this is good this is good this is good this is good
            this is good this is goodthis is good this is good this is good this
            is good this is good this is good this is goodthis is good this is
            good this is good this is good this is good this is good
        </p>
    </body>
</html>
