<%- include('../partials/header.ejs', {title: 'post pagee'}) %> 

<%- include('../partials/nav.ejs') %>

<h1>EJS is awesome template engine POST page</h1>
<h2><%= title %></h2>
<p>
    this is good this is good this is good this is good this is good this is
    good this is goodthis is good this is good this is good this is good this is
    good this is good this is goodthis is good this is good this is good this is
    good this is good this is good this is goodthis is good this is good this is
    good this is good this is good this is good this is goodthis is good this is
    good this is good this is good this is good this is good this is goodthis is
    good this is good this is good this is good this is good this is good this
    is goodthis is good this is good this is good this is good this is good this
    is good this is goodthis is good this is good this is good this is good this
    is good this is good this is goodthis is good this is good this is good this
    is good this is good this is good
</p>

<%- include('../partials/footer.ejs') %>
